apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
  labels:
    app: postgres
spec:
  clusterIP: None        # headless service
  selector:
    app: postgres
  ports:
    - port: 5432
      name: postgres
